<!DOCTYPE html>
<html>
	<head>
		<title>Session Timed Out</title>
	</head>
	<body>
		<h1>Session Timed Out!</h1>
		<p>Your session has timed out, pleased reload the page to start a new one.</p>
		<script>
			<!--
			window.top.location.reload();
			-->
		</script>
	</body>
</html>
