@page {
	margin: 0;
/*	margin-top: 1em; */
}

.page {
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 59px;
	font-family: sans-serif;
}

body, table th, table td {
	font-size: 10pt;
}

p {
	page-break-inside: avoid;
}

.pagebreak, .pageheader {
	page-break-before: always;
}

.pageheader {
	padding-top: 2em;
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 3em;
	margin-bottom: 3em;
}

.pageheader.no-break {
	page-break-before: auto;
}

body.warmboard .pageheader {
	background-image: url(../../images/pdf/warm-board-logo-header.jpg);
}

body.solfex .pageheader {
	background-image: url(../../images/pdf/solf-topright.jpg);
}

.refHead {
	padding-top: 0;
}

.refHead .ref-title {
	padding-bottom: 0.1em;
}

.inline-title {
	display: inline;
}

a {
	color: red;
	text-decoration: none;
}

tbody > tr > *, .grey {
	color: black;
	background-color: #eee;
}

th, tbody > tr > th, .ref, .red {
	background-color: red;
	color: white;
}

.bg-white {
	background-color: white;
}

tr > th + td {
	border-left: 5px solid white;
}

tr > * {
	border-bottom: 5px solid white;
}

.ref {
	display: inline-block;
	width: 10em;
	text-align: center;
	padding-bottom: 2px;
	font-size: 1.2em;
}

.intro {
	margin-top: 3em;
}

.blurb {
	font-style: italic;
	color: grey;
	padding-bottom: 2em;
}

.move-down {
	padding-top: 3em;
	padding-bottom: 0.5em;
}

.quoteTerms, .important, .sig {
	font-size: small;
}

.quoteTerms {
	padding-bottom: 2em;
}

.sysImg {
	text-align: center;
}

.sysImg img {
	height: 10.0in;
}

.frontPage {
	background-image: url(../../images/pdf/p1-header.jpg);
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

h4, .important, .person > .name, .price, .person > .email {
	color: red;
}

h4, h5 {
	padding-bottom: 1em;
}

h5 {
	margin-top: 0;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1em;
}

table td, table th {
	padding-bottom: 2px;
	margin: 0;
	vertical-align: middle;
	font-weight: normal;
	text-align: center;
}

.person > .name {
	text-transform: uppercase;
}

.person > .role {
	font-weight: bold;
}

.person > .email {
	text-decoration: underline;
}

address {
	font-style: normal;
}

.product {
	page-break-inside: avoid;
	padding-top: 10px;
	padding-bottom: 1em;
}

.product .image {
	padding-top: 0.5em;
	width: 150px;
	height: 150px;
}

.product .image img {
	padding: 1px;
	border: 1px solid grey;
	width: 146px;
}

.product .detail {
	padding-top: 1em;
	padding-left: 2em;
	vertical-align: top;
}

.product .detail .name {
	font-weight: bold;
}

.product table th {
	width: 70%;
}

.product table th, .product table td {
	text-align: left;
	padding-left: 1em;
}

.productTotals {
	page-break-inside: avoid;
	margin-top: 100px;
	margin-left: 125px;
}

.productTotals th, .productTotals td {
	text-align: left;
	padding-left: 1em;
}

#footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 123px;
}

table.refs {
	width: auto;
	margin-bottom: 1em;
}
table.refs tbody > tr > * {
	background-color: white;
	text-align: left;
}
table.refs tbody > tr h2 {
	width: 300px;
}

.price {
	font-weight: bold;
}

#contacts {
	background-image: url(../../images/pdf/InternalUnderfloorHeatingTechnicalSalesTeam-resize.jpg);
	background-repeat: no-repeat;
	background-position: right;
}

.systemTotal {
	font-size: 2em;
}