<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  </head>
  <body bgcolor="#FFFFFF" text="#000000">
    <p style="height:80px;"><img alt=""
        src="cid:head"
        height="80" width="707">
    </p>
    {block name="content"}{/block}
    <p>
      <img alt="" src="cid:foot"
        height="89" align="top" width="620">
    </p>
  </body>
</html>