<html>
  <body bgcolor="#FFFFFF" text="#000000">
    <p style="height:80px;">
    </p>
    <p>
      <br>
      Developer, I was processing an order and the PDF generator broke!!
    </p>
    <p>Exception:</p>
    <pre>
{$exceptionText|escape}
    </pre>
    <p>Data:</p>
    <pre>
{$dataText|escape}
    </pre>
    <p>
    </p>
  </body>
</html>