wide_cont { max-width:1000px !important;  margin:30px auto;}
body {
  background: #fdfdfd url("http://html.orange-idea.com/commander/wp-content/themes/Commander/images/bg/2_wallpapper.jpg") fixed !important;
}