/*
Builder - CSS
Copyrights - orange-idea.com
Creator: OrangeIdea
SEPTEMBER - 2012
Portfolio - http://themeforest.net/user/OrangeIdea/portfolio
Version 1.0

/* Body and structure
-------------------------------------------------- */
body {
  position: relative;
  background-position:center bottom;
  font-family: Arial, Helvetica, sans-serif;
  color:#666666;
  font-size:13px;
  padding:0px !important;
}

h1,h2,h3,h4,h5,h6 { font-family:"Open Sans"; font-weight:400 !important; color:#555; text-transform:none !important; margin-top:0px;}
.btn {font-family:"Open Sans" !important;}
h3 { margin-bottom:5px;}
p { margin-bottom:20px !important; margin-top:0px !important;}
iframe { border:none !important; padding:0px; background:#fff;}
.blog_item iframe { border:none !important; padding:0px !important; background:#fff;}
.slider_area iframe { border:none !important; padding:0px !important; background:#fff;}
.blog_item_page iframe { border:none !important; padding:0px !important; background:#fff;}
.commentsul { margin-bottom:0px;}
/* Space out sub-sections more
-------------------------------------------------- */
section {
  padding-top: 60px !important;
}
.inner_section { padding-top:30px !important;}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 54px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}


/* Footer
-------------------------------------------------- */
.footer { margin-top:60px; padding:30px 0px;}

.footer .span3 { margin-bottom:20px;}
 /* Special grid styles
-------------------------------------------------- */
.show-grid {
  margin-top: 10px;
  margin-bottom: 20px;
}
.show-grid [class*="span"] {
	background-color: #eee;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	min-height: 30px;
	line-height: 30px;
}
.show-grid:hover [class*="span"] {
  background: #ddd;
}
.show-grid .show-grid {
  margin-top: 0;
  margin-bottom: 0;
}
.show-grid .show-grid [class*="span"] {
  background-color: #ccc;
}



/* Popover docs
-------------------------------------------------- */
.popover-well {
  min-height: 160px;
}
.popover-well .popover {
  display: block;
}
.popover-well .popover-wrapper {
  width: 50%;
  height: 160px;
  float: left;
  margin-left: 55px;
  position: relative;
}
.popover-well .popover-menu-wrapper {
  height: 80px;
}
.large-bird {
  margin: 5px 0 0 310px;
  opacity: .1;
}





/* Responsive Docs
-------------------------------------------------- */

/*
@media (max-width: 480px) {
  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  .modal-example .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }

}


@media (max-width: 768px) {
}


@media (min-width: 480px) and (max-width: 768px) {

}


@media (min-width: 768px) and (max-width: 980px) {

}


@media (max-width: 980px) {
}


@media (min-width: 1210px) {
}
*/

.top_line {
	color:#666;
	background-color:#ec5923;

}
.top_line p {
	margin-bottom:0px !important;
	font-size:11px;
	margin-top:4px !important;
	color: #fff;
	text-decoration: none;
}

.top_line a { color:#fff; text-decoration:underline}
.top_line a:hover { text-decoration:none;}

.soc_icons a{ float:right;}
.footer .soc_icons a { float:left;}
.soc_icons a:hover { background-color:rgba(255,255,255, 0.2)}
.icon_t { width:36px; height:29px; background:url('../img/icons_twitter.png')}
.icon_facebook { width:36px; height:29px; background:url('../img/icons_facebook.png')}
.icon_in { width:36px; height:29px; background:url('../img/icons_in.png')}
.icon_pi { width:36px; height:29px; background:url('../img/icons_pi.png')}
.icon_dribbble { width:36px; height:29px; background:url('../img/icons_dribbble.png')}
.icon_google { width:36px; height:29px; background:url('../img/icons_google.png')}
.icon_youtube { width:36px; height:29px; background:url('../img/icons_youtube.png')}
.icon_flickr { width:36px; height:29px; background:url('../img/icons_flickr.png')}

.footer .icon_t { width:36px; height:29px; background:url('../img/icons_twitter_footer.png')}
.footer .icon_facebook { width:36px; height:29px; background:url('../img/icons_facebook_footer.png')}
.footer .icon_in { width:36px; height:29px; background:url('../img/icons_in_footer.png')}
.footer .icon_pi { width:36px; height:29px; background:url('../img/icons_pi_footer.png')}
.footer .icon_dribbble { width:36px; height:29px; background:url('../img/icons_dribbble_footer.png')}
.footer .icon_google { width:36px; height:29px; background:url('../img/icons_google_footer.png')}
.footer .icon_youtube { width:36px; height:29px; background:url('../img/icons_youtube_footer.png')}
.footer .icon_flickr { width:36px; height:29px; background:url('../img/icons_flickr_footer.png')}


.footer .icon_da { width:36px; height:29px; background:url('../img/icons_da_footer.png')}
.footer .icon_skype { width:36px; height:29px; background:url('../img/icons_skype_footer.png')}
.footer .icon_icq { width:36px; height:29px; background:url('../img/icons_icq_footer.png')}
.footer .icon_envato { width:36px; height:29px; background:url('../img/icons_envato_footer.png')}
.footer .icon_myspace { width:36px; height:29px; background:url('../img/icons_ms_footer.png')}
.footer .icon_bing { width:36px; height:29px; background:url('../img/icons_bing_footer.png')}
.footer .icon_forrst { width:36px; height:29px; background:url('../img/icons_forrst_footer.png')}





/* Page Head
-------------------------------------------------- */
.page_head {
	padding-top:30px;
	padding-bottom:30px;
	background-color:#f9f9f9
}

/* Misc
-------------------------------------------------- */
.tab-content {
  padding:15px;
  border:1px solid #dfdfdf;
  border-top:0px;
  background:#f5f5f5 !important;
}
.tab-content .well { background:#fdfdfd;}
.nav-tabs { margin-bottom:0px;}
.nav-tabs .active a { background:#f9f9f9;}
.nav-tabs a h6{ color:#ec5923}
.nav-tabs li a { text-transform: uppercase; font-weight:bold; font-size:11px;}
.nav-tabs li.active a { background:#fff;}

#note { color:#ff0000; font-size:11px; line-height:14px; margin-bottom:15px;}
#map {height:800px; width:100%; border-bottom:5px solid #f5f5f5;}
.gallery_page h1 { font-size:42px; line-height:42px;}
.block {
	margin-bottom:30px !important;
}
.block img { width:100% !important;}
.bordered { border:1px solid #eee;}
.colored, a { color:#ec5923}
.small-text { font-size:11px;}

.descr { clear:both; padding:15px !important; background:#f9f9f9; border:1px solid #ededed;}
.descr h5, .descr h4 { margin-bottom:2px !important; margin-top:5px; }
.clo { font-size:12px; margin-bottom:0px !important; color:#333333 !important; line-height:13px;}

a {
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}

.colored_bg { background:#ec5923; color:#fff;}
.white, .white h2, .white em, .white h4 { color:#fff !important;}
.sep { height:5px; border:0px; background:url(../img/patterns/sep.png); margin:0px !important; margin-bottom:50px !important;}
.sep_bg { background:url(../img/patterns/sep.png); padding:5px; margin-bottom:20px;}
.pun { color:#888 !important}
.noshadow { box-shadow:none !important;}
.dash { border-style:dashed !important;}
h6 strong { font-weight:700 !important;}
.icon-pride {
  background-image: url("../img/glyphicons-halflings-pride.png");
}



/*-------------------------------------------------------------------------------------------------*/
	/*MENU */
/*-------------------------------------------------------------------------------------------------*/


	.page_head .menu ul a {
		display: block;
		float: none;

	}


	.page_head .menu, .page_head .menu ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.page_head .menu {
		zoom:1;
	}

	.page_head .menu li {
		float: left;
		position: relative;
		-webkit-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.3s ease-in-out;
		-ms-transition: background 0.3s ease-in-out;
		-o-transition: background 0.3s ease-in-out;
		transition: background 0.3s ease-in-out;
	}

	.page_head .menu li li { margin-left:0px; background:none;}


	.page_head .menu a {
		float: left;
		position:relative;
		padding: 10px 22px;
		color: #3a3a3a;
		text-decoration: none;
		font-family:"Open Sans";
		font-size:13px;
		-webkit-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.3s ease-in-out;
		-ms-transition: background 0.3s ease-in-out;
		-o-transition: background 0.3s ease-in-out;
		transition: background 0.3s ease-in-out;
	}
	.page_head .menu a:hover, .page_head .menu li:hover a { color:#fff;}
	.page_head .menu li:hover {background:#3a3a3a}

	.page_head .menu ul {
		_margin: 0; /*IE6 only*/
		visibility: hidden;
		position: absolute;
		left: 0;
		z-index: 9999;
		background: #3a3a3a;


	}

	.page_head .menu .current-menu-item, .page_head .menu .current_page_parent{ background:#f9f9f9;}
	.page_head .menu .current-menu-item a, .page_head .menu .current_page_parent a {color:#ef5b25;}

	.page_head .menu li:hover > ul {
		opacity: 1;
		visibility: visible;
		margin: 0;
	}

	.page_head .menu ul ul {
		left: 160px;
	}


	.page_head .menu ul li {
		float: none;
		display: block;
		border: 0;
		_line-height: 0; /*IE6 only*/

	}

	.page_head .menu ul a {
		font-size:11px;
		text-transform:none !important;
		width: 140px;
		color:#ffffff;
		font-weight:normal !important;
		line-height:12px !important;
		height:auto !important;
	}
	.page_head .menu ul a { border-top:1px solid rgba(255,255,255,.05); box-shadow:none !important;}


	.page_head .menu ul a:hover {
		background-color: #ec5923;
		text-shadow:none;
	}
	.page_head .menu ul a { padding: 10px 10px 18px 10px;}


.page_head .sub { font-size:10px; text-transform:none; color:#888888; margin-top:-8px; font-weight:400;}
.wpb_teaser_grid .prev {
	background-color:#f1f1f1 !important;
	background-image:url(../img/arr-left.png) !important;
	padding:0px !important;
	background-position:center center !important;
	width:24px !important;
	height:24px !important;
	right:26px !important;
}

.wpb_carousel { max-height:350px;}
.wpb_thumbnails-fluid { max-height:250px !important;}
.wpb_teaser_grid .next {
	background-color:#f1f1f1 !important;
	background-image:url(../img/arr-right.png) !important;
	padding:0px !important;
	background-position:center center !important;
	width:24px !important;
	height:24px !important;
	margin-right:0px !important;
}
.wpb_teaser_grid .next:hover { background-image:url(../img/arr-right-hover.png) !important; background-color:#3a3a3a !important;}
.wpb_teaser_grid .prev:hover { background-image:url(../img/arr-left-hover.png) !important; background-color:#3a3a3a !important;}

	nav select { display: none; }

	.menu ul li.current-menu-item a{ color:#fff !important}
	.menu ul li.current-menu-item { background:#444 !important}
/*-------------------------------------------------------------------------------------------------*/
	/*WLCOME */
/*-------------------------------------------------------------------------------------------------*/
.welcome h3 { margin-top:0px !important; margin-bottom:0px !important; font-weight:100 !important;}
.welcome h3.homepage {
	width: calc(100% - 358px);
	line-height: 31px;
	display: inline-block;
	vertical-align: middle;
}
#exclusive-to-cp {
	display: inline-block;
	vertical-align: middle;
}
.welcome {
	padding:20px 0px;
	font-size:10px !important;
}
.separator { height:3px; background:url('../img/patterns/sep.png');}
.inner_separator { width:10%; background:#ec5923; height:3px;}

/*-------------------------------------------------------------------------------------------------*/
	/*SLIDER */
/*-------------------------------------------------------------------------------------------------*/

.presentation  h1 { color:#000; font-size:67px; line-height:67px}
.presentation h2 {}
.theme-default {
	min-height:50px;
	background:url('../img/spinner-slider.gif') center center no-repeat #f1f1f1 !important;
}
.gray { background:#f1f1f1;}
.shadow_slider { background:url('../img/shadow.png'); height:34px; background-position:center top;}
/*-------------------------------------------------------------------------------------------------*/
	/*HOVERS */
/*-------------------------------------------------------------------------------------------------*/


.view {
   width:100%;
   float: left;
   overflow: hidden;
   position: relative;
   text-align: center;
   cursor: default;
   background:url('../img/spinner.gif') center center no-repeat #f1f1f1 !important;
}
.view .mask {
   width:100%;
   height:100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view a.info {
   display:block;
   width:32px;
   height:32px;
   background-color:#000;
   background-image: url(../img/zoom.png);
   position:absolute;
   top:50% !important;
   left:50%;
   margin-top:-16px;
   margin-left:-36px;
   border:1px solid;
   border-color: #000;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.nolink a.info {margin-left:-17px !important;}
.view a.info:hover {
	background-color:#ec5923;
	border:1px solid;
	border-color: #fff;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}


.view a.link {
   display:block;
   width:32px;
   height:32px;
   background-color:#000;
   background-image: url(../img/link.png);
   position:absolute;
   top:50% !important;
   left:50%;
   margin-top:-16px;
   margin-left:4px;
   border:1px solid;
   border-color: #000;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.noinfo a.link { margin-left:-17px;}
.view a.link:hover {
	background-color:#ec5923;
	border:1px solid;
	border-color: #fff;
	-webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}








.view-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background-color: rgba(105,193,231, 0.5);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}


.view-first:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}



/*-------------------------------------------------------------------------------------------------*/
	/*FOOTER */
/*-------------------------------------------------------------------------------------------------*/

.footer {
	padding:30px 0px 0px 0px;
	background-color:#3d3d3d;
	border-top: 5px solid #cfcfcf;
	font-size:11px;
	margin-top:5px;
	color: #a8a8a8;
	line-height:15px;
	text-decoration: none;
}
.footer .well { background:#3a3a3a; border:none; border-radius:0px !important}
.footer .well h5 { color:#fff;}
.footer ul { margin-left:10px !important;}
.footer ul li { margin-bottom:2px !important;}
.footer ul.unstyled { margin-left:0px !important;}
.footer p {
	font-size:11px;
	margin-top:5px;
	color: #a8a8a8;
	line-height:15px;
	text-decoration: none;
}
.footer strong { color:#fff;}
.footer a {
	color:#a8a8a8;
	text-decoration:underline !important;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.footer a:hover {
	color:#fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-decoration:none !important;
}
.footer h6 { color:#fff; }
.footer hr{ border-top-color:#333; border-bottom:0px; !important; margin-top:6px; margin-bottom:15px;}
.footer hr.bottom { border-top-color:#333; border-bottom: 0px !important; margin-top:10px !important; margin-bottom:0px;}

.footer .sep { background:url(../img/patterns/sep_w.png); margin-bottom:10px !important;}

.bottom_line p {
	margin-bottom:0px !important; color:#fff;
}
.bottom_line {  padding:5px 0px; border-top:1px solid #444444;}
.bottom_line a { color:#fff; text-decoration:underline;}
.bottom_line a:hover { text-decoration:none;}
/*-------------------------------------------------------------------------------------------------*/
	/*BLOG FEED */
/*-------------------------------------------------------------------------------------------------*/

.blog_feed {
	font-size:11px;
	color: #a8a8a8;
	text-decoration: none;
	text-shadow: 1px 1px 0 #121212;
	margin-bottom:15px;
	padding-left:25px;
	background:url(../img/bl.png) no-repeat left top;
	font-style:italic;
}
.blog_feed a{
	color:#9f9f9f;
	font-weight:bold;
	font-style:normal;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
	}
.blog_feed a:hover {
	color:#fff;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}

.sep_bg .prev {
	margin-top:3px;
	float:left;
	display:block;
	background:url(../img/arr-left-min.png);
	width:20px;
	height:20px;
}
.sep_bg .next {
	margin-top:3px;
	float:left;
	display:block;
	background:url(../img/arr-right-min.png);
	width:20px;
	height:20px;

}
.sep_bg .next:hover { background:url(../img/arr-right-min-hover.png);}
.sep_bg .prev:hover { background:url(../img/arr-left-min-hover.png);}
.pride_pg a {
	display: inline-block;
	*display: inline;
	padding: 4px 10px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 11px;
	line-height: 14px;
	*line-height: 20px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-color: #cccccc;
	*zoom: 1;
	border-radius:3px;
	text-shadow: #B7B7B7 0px 1px 0px;
}

.pride_pg a:hover  {
	background-color: #ec5923;
	color:#fff;
	text-shadow: none;
}
.pride_pg .current {
	border-radius:3px;
	display: inline-block;
	*display: inline;
	padding: 4px 10px;
	margin-bottom: 0;
	*margin-left: .3em;
	font-size: 11px;
	line-height: 14px;
	*line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	*zoom: 1;
	background-color: #ec5923;
	color:#fff;

	}

/*-------------------------------------------------------------------------------------------------*/
	/*BLOG */
/*-------------------------------------------------------------------------------------------------*/

.comment { margin-top:20px; font-size:12px; line-height:15px;}
.comment img { margin-right:20px !important; margin-bottom:20px !important; }
.comment h6 { margin-bottom:10px;}

.blog_post { margin-bottom:90px;}
.blog_head h3 { margin-bottom:0px; font-weight:400 }
.well .tab-content { background:#fff !important;}
.recent-post-widget li { margin-bottom:15px !important;}
.small-meta, .small-meta a { font-size:10px !important; color:#666; line-height:11px !important;}
.recent-post-widget a { font-size:12px; line-height:12px !important; text-decoration:none; font-weight:bold;}
.main_content_area .recent-post-widget a { color:#3a3a3a !important }

.meta { margin-bottom:5px; padding-top:0px; padding-bottom:10px; text-transform:uppercase;}
.meta span { font-size:10px; line-height:11px !important; margin-bottom:0px; color:#999; }
.meta span:after { content: ' / '}
.meta .last_item:after { content:'' !important}
.portfolio-description .meta span:after { padding-left:3px; padding-right:3px;}
.meta a { color:#b7b7b7;}
.meta a:hover { color:#ec5923}
.main_content_area .date {  background:#cccccc; color:#fff; float:left; margin-right:15px; padding:10px; border-radius:4px; font-weight:400;}
.main_content_area .date h1 {font-weight:400; margin-bottom:5px; color:#fff;}
.main_content_area .date h6 {font-weight:400; margin-bottom:0px; color:#fff; text-transform:uppercase !important; text-shadow:0px 1px #b7b7b7;}
.blog_inner h4 { margin:0px;}
.pp_description { margin-bottom:0px !important; margin-top:10px !important; font-size:14px !important; font-family:"Open Sans" !important; font-weight:300 !important}
.share {font-size:11px; line-height:22px !important; padding:7px; background:#ededed; color:#3d3d3d;}
.read_more {
background-image: url("http://html.orange-idea.com/veles/images/read_more.png");
background-position: center left;
background-repeat: no-repeat;
padding-left: 10px;
margin-bottom:0px !important;
font-family:Arial, Helvetica, sans-serif !important;
margin-top:-10px;
}
p:empty { display:none !important;}
.page_sidebar h4, .blog_sidebar h4, .portfolio_sidebar  h4{ font-size:14px !important;}
.blog_item h3 { font-size:20px; line-height:22px;}
.blog_item_description { background:#f9f9f9; padding:20px; padding-bottom:0px; border:1px solid #ededed; color:#747474}
.blog_post_item_description { background:#f9f9f9; padding:20px; padding-bottom:0px; border:1px solid #ededed; color:#747474}
.blog_author_item_description { background:#f9f9f9; padding:20px; padding-bottom:0px; border:1px solid #ededed; color:#747474}
.blog_item_comments_description { background:#f9f9f9; padding:20px; padding-bottom:0px; border:1px solid #ededed; color:#747474}
.portfolio_post_item_description { background:#f9f9f9; padding:20px; padding-bottom:0px; border:1px solid #ededed; color:#747474}
.comments_div {border-left:1px solid #ededed; padding-left:20px; margin-top:40px;}
.sidebar .well{
	border-width: 1px;
	border-style: solid;
	border-color: #f1f1f1;
	background-color: #f9f9f9;
	box-shadow:none;

}

.page_sidebar .well hr {margin:0px 0px 12px 0; border-top:none; border-bottom-color:#fff;}
.page_sidebar .well { border:1px 1px solid #ededed; box-shadow:none; background-color:#999; border-radius:0px; padding:0px;}
.page_sidebar ul { margin-left:0px; list-style:none;}
.page_sidebar ul { font-size:12px}
.page_sidebar h5 { color:#fff;}
.page_sidebar a{ color:#ededed;}
.page_sidebar a:hover{ color:#fff;}
.page_sidebar { color:#fff; font-size:12px; line-height:18px;}
.page_sidebar ul li { padding-left:10px; background:url('../img/arr-right-mini.png'); background-position:0px 6px; background-repeat:no-repeat;}
.page_sidebar ul.menu li { padding-left:10px; background:url('../img/arr-right-mini.png'); background-position:left center !important; background-repeat:no-repeat;}

.blog_sidebar .well hr {margin:0px 0px 12px 0; border-top:none; border-bottom-color:#fff;}
.blog_sidebar .well { border:1px 1px solid #ededed; box-shadow:none; background-color:#999; border-radius:0px;}
.blog_sidebar ul { margin-left:0px; list-style:none;}
.blog_sidebar ul {font-size:12px}
.blog_sidebar h5 { color:#fff;}
.blog_sidebar a{ color:#ededed;}
.blog_sidebar a:hover{ color:#fff;}
.blog_sidebar { color:#fff; font-size:12px; line-height:18px;}
.blog_sidebar ul li { padding-left:10px; background:url('../img/arr-right-mini.png'); background-position:0px 6px; background-repeat:no-repeat;}

.portfolio_sidebar .well hr {margin:0px 0px 12px 0; border-top:none; border-bottom-color:#fff;}
.portfolio_sidebar .well { border:1px 1px solid #ededed; box-shadow:none; background-color:#999; border-radius:0px;}
.portfolio_sidebar ul { margin-left:0px; list-style:none;}
.portfolio_sidebar ul { font-size:12px}
.portfolio_sidebar h5 { color:#fff;}
.portfolio_sidebar a{ color:#ededed;}
.portfolio_sidebar a:hover{ color:#fff;}
.portfolio_sidebar { color:#fff; font-size:12px; line-height:18px;}
.portfolio_sidebar li { padding-left:10px; background:url('../img/arr-right-mini.png'); background-position:0px 6px; background-repeat:no-repeat;}

.sidebar .well hr { margin:4px 0px 10px 0;}
.sidebar .sep_bg { background:url(../img/patterns/sep-half.png)}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #ec5923;
}
.nav-pills a { font-size:11px; text-transform:uppercase; font-weight:bold;}
.nav-pills li a{ background:#fff; margin-bottom:7px !important;}
.nav-pills li:last-child a{  margin-bottom:0px !important;}
.sidebar ul ul { list-style:none; padding:0px; margin-left:0px !important;}
.sidebar ul ul a { margin-bottom:7px; font-size:11px; display:block; background-color:#fff; padding:7px; border-radius:3px; text-transform:uppercase; font-weight:bold;}
.sidebar ul ul a:hover {color: #ffffff; background-color: #ec5923; }
.sidebar ul ul .current-cat a {font-size:11px; display:block; padding:7px; border-radius:3px; text-transform:uppercase; font-weight:bold; color: #ffffff; background-color: #ec5923; }
.tags p {
	float:left;
	padding:5px;
	margin-top:10px;
	margin-bottom:0px;
	margin-right:10px;
	background-color:#fff;
	color:#fff !important;
	-webkit-box-shadow: 1px 1px 2px #e6e6e6;
	-moz-box-shadow: 1px 1px 2px #e6e6e6;
	box-shadow: 1px 1px 2px #e6e6e6;
	border:1px solid #e6e6e6;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius:5px !important;

}
.big1 { font-size:10px;}
.big2 { font-size:16px;}
.big3 { font-size:20px;}
.big4 { font-size:15px;}
.big5 { font-size:11px;}
.big6 { font-size:18px;}
.big7 { font-size:12px;}
.tags p:hover {
	background:#ec5923;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	text-decoration:none;
}
.nav-tabs a { margin-bottom:0px !important; border-radius: 4px 4px 0px 0px !important;}
.nav-tabs a { background:none !important;}
.nav-tabs a:hover { color:#ec5923 !important;}
.nav-tabs .active { background:#fff !important;}
.tags p:hover > a{ text-decoration:none;}
.tagcloud a {
background:#fff;
line-height:38px;
margin-right: 10px;
margin-top: 10px;
padding: 5px;
border-radius:4px;
font-weight:bold;}

.tagcloud a:hover { color:#fff;}

/*-------------------------------------------------------------------------------------------------*/
	/*Pricing tables */
/*-------------------------------------------------------------------------------------------------*/
.price { margin-bottom:30px; }

.price .well{
		padding:20px !important;
		border: 1px solid #222;
		background-color: #111;
		background-image: -moz-linear-gradient(#444, #111);
		background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
		background-image: -webkit-linear-gradient(#444, #111);
		background-image: -o-linear-gradient(#444, #111);
		background-image: -ms-linear-gradient(#444, #111);
		background-image: linear-gradient(#444, #111);
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		-moz-box-shadow: 0 1px 0px #999, 0 1px 0 #666 inset;
		-webkit-box-shadow: 0 1px 0px #999, 0 1px 0 #666 inset;
		box-shadow: 0 1px 0px #999, 0 1px 0 #666 inset;

}
.price-active  .well{
	background-color: #49afcd;
	*background-color: #2f96b4;
	background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(top, #5bc0de, #2f96b4);
	background-repeat: repeat-x;
	border-color: #2f96b4 #2f96b4 #1f6377;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
	-moz-box-shadow: 0 1px 0px #999, 0 1px 0 #666 inset;
	-webkit-box-shadow: 0 1px 0px #999, 0 1px 0 #666 inset;
	box-shadow: 0 1px 0px rgba(255, 255, 255, .5), 0 1px 0px rgba(255, 255, 255, 0.5) inset;

}
.price .sep_bg { background: url(../img/patterns/sep_w.png)}
.price-active .sep_bg { background: url(../img/patterns/sep.png); color:#fff !important}
.price .label-inverse { background:#000 }
.price-active .label-inverse { background:#fff; color:#000; text-shadow:none !important; }
.price ul { font-size:11px; color:#fff}
.price li { padding-bottom:5px; padding-top:5px; border-bottom:1px dashed #555;}
.price-active li { padding-bottom:5px; padding-top:5px; border-bottom:1px dashed rgba(255, 255, 255, .3);}
.price h1 .label { font-size:30px !important; line-height:34px !important; text-align:center;}


/*-------------------------------------------------------------------------------------------------*/
	/*Buttons */
/*-------------------------------------------------------------------------------------------------*/
.btn-pride {
	color:#f9f9f9;
	border: 1px solid #222;
	background-color: #111;
	background-image: -moz-linear-gradient(#444, #111);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111));
	background-image: -webkit-linear-gradient(#444, #111);
	background-image: -o-linear-gradient(#444, #111);
	background-image: -ms-linear-gradient(#444, #111);
	background-image: linear-gradient(#444, #111);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 0px #999, 0 1px 0 #666 inset;
	-webkit-box-shadow: 0 1px 0px #999, 0 1px 0 #666 inset;
	box-shadow: 0 1px 0px #999, 0 1px 0 #666 inset;
	text-shadow: 1px 1px 0 #121212;
}
.btn-pride:hover {
	background-image: -moz-linear-gradient(#555, #222);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#222));
	background-image: -webkit-linear-gradient(#555, #222);
	background-image: -o-linear-gradient(#555, #222);
	background-image: -ms-linear-gradient(#555, #222);
	background-image: linear-gradient(#555, #222);
	border-color:#444;
	color:#f9f9f9;
	text-decoration:none;

}

/*-------------------------------------------------------------------------------------------------*/
	/*BLOG WIDGET */
/*-------------------------------------------------------------------------------------------------*/
.from_blog .meta { font-size:11px;}

/*-------------------------------------------------------------------------------------------------*/
	/*TESTIMONIAL WIDGET */
/*-------------------------------------------------------------------------------------------------*/

.testimonialrotator {
	position:relative;
	}
.testimonialrotator .testimonial{ position:absolute; top:0; left:0;  display:none; }
.testimonialrotator .testimonial .main_testimonial { background-color:#f1f1f1 !important; padding:20px; margin-bottom:0px; font-style:italic;}
.testimonialrotator .testimonial:first-child{  position:relative; display:block;}
.testimonial .the-author { padding:20px; color:#000; padding-left:40px; float:left; font-weight:bold; font-style:italic; background-image: url("../img/user.png"); background-position: left top; background-repeat:no-repeat; }

.icon-user {
  background-position: -168px 0;
}

/*-------------------------------------------------------------------------------------------------*/
	/*PORTFOLIO and FILTERS */
/*-------------------------------------------------------------------------------------------------*/
#filters_sidebar a { display:block; margin-bottom:0px; border-bottom:1px dashed #ededed; line-height:20px;}
.filter_sidebar_current { color:#000000 !important;}

.portfolio-description h4 { font-weight:600; margin-bottom:0px;}

.filter_button { margin-right:10px; font-size:11px; padding:4px 8px; background-color:#f1f1f1; border:1px solid #ededed; border-radius:3px; color:#666;}
.filter_button:hover {background-color:#ec5923; color:#fff; border-color:#ec5923; text-shadow:none}
.filter_current { background-color:#ec5923; border-color:#ec5923; color:#fff; text-shadow:none !important}

ul#filters { list-style:none;}
ul#filters li { float:left; padding-left:0px; margin-right:20px; }

.isotope-item { z-index: 2; }
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1; }

/* Isotope CSS3 transitions */
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -moz-transform, opacity; -o-transition-property: top, left, opacity; transition-property: transform, opacity; }

/* disabling Isotope CSS3 transitions */
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }












.welcome1 {font-size:42px; line-height:44px;}
.welcome2 {font-size:66px; line-height:67px;}





	/*Landscape phones and down*/
/*
	@media (max-width: 480px) {
		body { padding:0px;}
		.container { padding:0 20px;}
		nav ul { display: none; }
		nav select { display: inline-block; width:100% !important;  }
		nav { position: relative; right: auto; top: auto; width: 100%}
		.logo { text-align: center; margin-bottom:20px;}
		.feed { display:none;}
		.nivo-caption { display:none;}
		.presentation h1 { font-size:34px; line-height:38px;}
		.slider_area { margin-bottom:20px;}
		.slides_container  img { display:none;}
		.footer .view { margin-bottom:20px;}
		.sf-sub-indicator { display:none !important;}
		.nivo-caption { display:none !important}
		.welcome2 {font-size:26px !important; line-height:27px;}
		.my_img .view{ margin-bottom:30px;}
		.my_menu .sub { display:none !important; visibility:hidden !important}
		.page_sidebar { display:none;}
		.blog_sidebar { display:none;}
		.welcome .bbread { visibility:hidden; margin:0px !important;}
		.welcome h3 { clear:both !important}

	}
	@media (min-width: 480px) and (max-width: 767px) {
		body { padding:0px;}
		.container { padding:0 20px;}
		nav ul { display: none; }
		nav select { display: inline-block; width:100% !important;  }
		nav { position: relative; right: auto; top: auto; width: 100%}
		.logo { text-align: center; margin-bottom:20px;}
		.feed { display:none;}
		.nivo-caption { display:none;}
		.presentation h1 { font-size:34px; line-height:38px;}
		.slider_area { margin-bottom:20px;}
		.slides_container  img { display:none;}
		.footer .view { margin-bottom:20px;}
		.sf-sub-indicator { display:none !important;}
		.nivo-caption { display:none !important}
		.welcome2 {font-size:26px !important; line-height:27px;}
		.my_img .view{ margin-bottom:30px;}
		.my_menu .sub { display:none !important; visibility:hidden !important}
		.page_sidebar { display:none}


	}
	@media (min-width: 767px) and (max-width: 980px) {
		body { padding:0px !important; margin:0px !important}
		.page_head .menu a { padding:23px 10px !important;}
		.page_head .menu ul a {padding: 8px !important;}
		.page_head .menu li { margin-left:0px !important;}
		.gallery_page h1 { font-size:34px; line-height:38px;}
		#menu-item-id-286 ul { visibility:hidden; display:none}
		#cbox li:nth-child(2n+2) {margin-right : 0px; }
		#cbox li:nth-child(3n+3) {margin-right : 10px !important; }

		.presentation h1 { font-size:34px; line-height:38px;}
		.sf-sub-indicator { display:none !important;}
		.welcome1 {font-size:22px !important; line-height:24px;}
		.welcome2 {font-size:36px !important; line-height:37px;}

	}
	*/

	@media (min-width: 980px) and (max-width: 1200px) {
		body { padding:0px !important; margin:0px !important}
		.presentation h1 { font-size:34px; line-height:38px;}
		.gallery_page h1 { font-size:34px; line-height:38px;}
		.intro { display:none;}
		.welcome1 {font-size:32px !important; line-height:34px;}
		.welcome2 {font-size:46px; line-height:47px;}

	}


a:focus, .btn:focus, input:focus {
  outline:0 !important
}

.footer_menu { list-style:none; padding:0px !important; margin:0px;}
.footer_menu li { float:left; padding-left:7px; font-size:11px; width:auto;}
.footer_menu li a { padding-top:3px; text-decoration:underline}
.footer_menu li:after { content:" | "; padding-left:5px;}
.footer_menu li:last-child:after { content:""}
.footer_menu li a:hover { text-decoration:none;}
.bottom_line .current-menu-item { background: none !important;}

/*-------------------------------------------------------------------------------------------------*/
	/*DROPCAPS*/
/*-------------------------------------------------------------------------------------------------*/

.dropcap{
float: left;
font-size: 36px;
margin: 10px 6px 1px 0;
}
.dropcap2 {
border-radius: 30px 30px 30px 30px;
-moz-border-radius:30px;
-webkit-border-radius:30px;
-o-border-radius:30px;
text-shadow:1px 1px #393b3f;
background-color:#393b3f;
color: #FFFFFF;
display: block;
float: left;
font-size: 25px;
height: 20px;
margin: 5px 10px 0 0;
padding: 13px 10px 13px 12px;
text-align: center;
vertical-align: bottom;
width: 25px;
}

.dropcap3 {
background-color:#393b3f;
color: #FFFFFF;
text-shadow:1px 1px #393b3f;
display: block;
float: left;
font-size: 25px;
height: 20px;
margin: 5px 10px 0 0;
padding: 13px 10px 13px 12px;
text-align: center;
vertical-align: bottom;
width: 25px;
}

.dropcap4 {
border-radius: 30px;
-moz-border-radius:30px;
-webkit-border-radius:30px;
-o-border-radius:30px;
background-color:#ededed;
color: #393b3f;
display: block;
float: left;
font-size: 25px;
height: 20px;
margin: 5px 10px 0 0;
padding: 13px 10px 13px 12px;
text-align: center;
vertical-align: bottom;
width: 25px;
}

.dropcap5 {
background-color:#ededed;
color: #393b3f;
display: block;
float: left;
font-size: 25px;
height: 20px;
margin: 5px 10px 0 0;
padding: 13px 10px 13px 12px;
text-align: center;
vertical-align: bottom;
width: 25px;
}
ul.unstyled li { margin-bottom:5px;}

.twitter-block .btn-success {
	border-color: #111 #111 #111 !important;
	border-color: rgba(0, 0, 0, 1) rgba(0, 0, 0, 1) rgba(0, 0, 0, 1);
	border-radius:5px;
}


/*-------------------------------------------------------------------------------------------------*/
	/*BLOCKQUOTES*/
/*-------------------------------------------------------------------------------------------------*/

.blockquote1 {
	padding-left:20px;
	border-left:1px solid;
}
.blockquote2 {
	padding-left:20px;
	border-left:1px dotted;
}
.blockquote3 {
	padding-left:20px;
	padding-right:20px;
	border-left:2px  dashed;
	border-right:2px dashed;
}
.blockquote4 {
	border-top:1px dotted;
	padding-top:10px;
	padding-bottom:10px;
	border-bottom:1px dotted;
}
.blockquote5 {
	padding:10px;
	border:1px solid;
}
.blockquote6 {
	padding-left:70px;
	background-image:url('../img/blockquote6.png');
	background-repeat:no-repeat;
	background-position: left;
}
.blockquote7 {
	padding-left:70px;
	background-image:url('../img/blockquote7.png');
	background-repeat:no-repeat;
	background-position: left;
}
.blockquote8 {
	padding-left:70px;
	background-image:url('../img/blockquote8.png');
	background-repeat:no-repeat;
	background-position: left;
}
.blockquote9 {
	padding-left:70px;
	background-image:url('../img/blockquote9.png');
	background-repeat:no-repeat;
	background-position: left;
}

.mytabs .active{ background:#f9f9f9 !important; margin:0px !important; margin-bottom:-1px !important }
.mytabs .active a { margin:0px !important;}
.footer_blog_feed { font-size:11px;}
.footer_blog_feed li { padding:3px; border-bottom:1px dashed rgba(255,255,255,0.1); padding-left:25px; background:url(../img/bl.png) no-repeat left top;}
.footer_blog_feed li a { text-decoration:none;}

.wp-caption {}
.wp-caption-text {}
.sticky {}
.gallery-caption  {}
.bypostauthor css {}
.alignright { float:right}
.alignleft { float:left; margin-right:20px; margin-bottom:20px;}
.alignright { float:right; margin-left:20px; margin-bottom:20px;}
.aligncenter { text-align:center;}

input, textarea { background:#ffff !important; box-shadow:none !important; font-size:12px !important; border-radius:0px !important; border:1px solid #d4d4d4 !important;}

input:focus, textarea:focus { background:#f1f1f1 !important; border:1px solid #cccccc !important;}


.last_toggle_el_margin { margin:0px 0px 15px 0px !important;}


.wpb_toggle { background-color:#f1f1f1 !important; padding:6px 6px 6px 25px !important; background-position: 7px center !important;}
.wpb_toggle_content { background-color:#f6f6f6 !important; margin-top:-10px !important; padding-top:15px !important;}
.ui-tabs-selected, .wpb_tab {background-color:#f6f6f6 !important;}
.wpb_tour .wpb_tour_tabs_wrapper .wpb_content_element  p { padding:15px !important;}
.ui-state-active a { color:#000000;}
.messagebox_text p { margin-bottom:0px !important;}
.wpb_separator { border-color:#f1f1f1 !important;}
.wpb_gallery_slides { box-shadow:none !important}









/*-------------------------------------------------------------------------------------------------*/
/* DEMO ONLY */
/* ----------------------------------------- */
.slide-out-div {
       width: 290px;
       background-color: #f1f1f1;
       position: relative;
       z-index: 999;
       font-size: 11px;
	   padding-bottom:10px;
	   border:1px solid #dddddd; border-top:0px;
}
.slide-out-div-cont { padding:30px; padding-left:30px; padding-top:0px;}
.slide-out-div-header { padding:10px; padding-left:30px; background-color:#dddddd; text-align:left; margin-top:0px !important; }
.div-out-text p { color:#666666 !important;  font-size:11px !important; padding:0px !important; margin-bottom:0px !important;}
.layout_choose { margin:0px !important; color:#66666;}
.layout_choose li a { color:#666666 !important;}
.layout_choose li { color:#666666 !important;}
.layout_choose li a:hover { color:#000 !important;}
#colorpicker-body, #colorpicker-wrapper, #colorpicker-headers, #colorpicker-links, #colorpicker-text, #colorpicker-prev, #colorpicker-black{
	height:16px;
	background-image: url('../images/colorpicker/select3.png');
	background-repeat:no-repeat;
	padding-top:1px;
	padding-left:21px;
}
#colorpicker {
	height:16px;
	background-image: url('../images/colorpicker/select3-icon.png');
	background-repeat:no-repeat;
	padding-top:1px;
	padding-left:21px;
}
.slide-out-div p {
       font-size: 10px;
       line-height: 14px;
}



.slide-out-div ul {
	margin-bottom:40px;
	padding:0px;
}


.slide-out-div ul li {
       list-style-type: circle;
       list-style-position: inside;
	   margin-top:0px;
}

.slide-out-div ul li a {
       color:#888;
       font-size: 10px;
	   margin:0px;
}

.slide-out-div ul li a:hover {
       color:#ececec;
}

.slide-out-div ul.last li {
       float:left;
       width: 85px;
       margin-bottom: 0px;
}

.slide-out-div ul.last li a {
       cursor: pointer;
}

.slide-out-div ul.color-switcher {
	margin-bottom:40px;
}

.slide-out-div ul.color-switcher li {
       list-style: none;
       float:left;

}

.slide-out-div ul.color-switcher li a {
       display: block;
       width: 72px;
       height: 20px;
       margin-right: 0px;
       cursor: pointer;
	   margin-right:4px;
	   text-align:center; color:#fff; padding-top:0px;
}

.slide-out-div h3 {
       color: #000000 !important;
       font-size: 15px;
	   text-shadow:none;
}
#style-switcher {
  position: absolute;
  width: 55px;
  top: 100px;
  left: 5px;
  background: #f3f3f3;
  padding: 10px;
  border: 1px solid #ffffff;
}
.color-box {
	width:15px;
	height:15px;
	display:block;
	float:left;
	margin-right:2px;
	margin-left:2px;
	margin-bottom: 5px;
	border: 1px solid #cacaca;
	background:#ffffff;
}
.pattern-box{
	width:12px;
	height:12px;
	display:block;
	float:left;
	margin-right:2px;
	margin-left:2px;
	margin-bottom: 5px;
	border: 1px solid #cacaca;
	background:#000;
}
.slide-out-div h3 {
	margin-bottom:10px;
	margin-top:10px;
	line-height:15px;
}
.slide-out-div div{
	margin-top:10px;
	color:#ffffff !important;
}
#switcher-reset {
	background-image: url('../images/colorpicker/reset.png');
	height:27px;
	width:82px;
	text-align:center;
	padding-top:8px;
	background-repeat:no-repeat;
}

.boxed {
	padding:20px;
	overflow: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	-moz-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 3px #444;
	-webkit-box-shadow: 0 3px 3px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 5px #444;
	box-shadow: 0 2px 1px rgba(255,255,255,.1), 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 2px #444;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f6f6f6;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eae8e8));
	background-image: -webkit-linear-gradient(top, #f1f2f1, #eae8e8);
	background-image: -moz-linear-gradient(top, #f1f2f1, #eae8e8);
	background-image: -ms-linear-gradient(top, #f1f2f1, #eae8e8);
	background-image: -o-linear-gradient(top, #f1f2f1, #eae8e8);
	background-image: linear-gradient(top, #f1f2f1, #eae8e8);
	text-shadow:1px 1px 0px #fff;
}
.boxed .separator_dash { margin-bottom:10px;}
.tags p { float:left; padding:5px; margin-bottom:10px; background-color:#FFF; margin-right:10px; border-radius:3px; box-shadow:1px 1px #aaa;}
.big1 { font-size:10px;}
.big2 { font-size:16px;}
.big3 { font-size:20px;}
.big4 { font-size:15px;}
.big5 { font-size:11px;}
.big6 { font-size:18px;}
.big7 { font-size:12px;}
.cup { margin-right:10px; float:left; margin-top:6px;}
.subpage_block { display:block; float:left; font-size:10px;}
.subpage_breadcrumbs_dv{ width:20px;  height:17px; background:url('../img/dv.png'); float:left; background-position:center; background-repeat:no-repeat; }

/*-------------------------------------------------------------------------------------------------*/
	/*TWITTER FEED */
/*-------------------------------------------------------------------------------------------------*/
.tweet { color: #999; font-size:11px !important; padding-left:0px; }
.tweet_list { padding:0px !important; font-size:11px;}
.tweet a { font-size:12px; color:#fff; }
.tweet a:hover { text-decoration:underline; color:#fff;}
.tweet_text { font-size:12px;}
.tweet_list { list-style: none;	margin: 0; padding: 0; overflow-y: hidden; }
.tweet_list .awesome,
.tweet_list .epic { text-transform: uppercase; }
.tweet_list .tweet_even {		}
.tweet_list .tweet_odd {  }
.tweet_list .tweet_avatar { float: left; }
.tweet_list .tweet_avatar img { vertical-align: middle;	}
.tweet_list .tweet_time a { color:#888; display:block;  font-style:italic; font-size:10px; }
.tweet_list .tweet_first { padding-top: 0 !important; }



.ui-tabs-nav a, .ui-accordion-header a { font-size:14px; font-family:"Open Sans"; font-weight:600 !important; }
.nomargin { margin-bottom:-10px !important;}
.wpb_teaser_grid_heading { margin-bottom:10px !important;}

.flex-caption { border-bottom:1px solid #dfdfdf; background:#f1f1f1; padding:20px !important;}
h3 { margin-bottom:15px !important;}
.flex-prev  {
	position:absolute;
	display:block !important;
	top:140px !important;
	background-color:#f1f1f1 !important;
	background-image:url(../img/arr-left.png) !important;
	padding:0px !important;
	background-position:center center !important;
	width:30px !important;
	height:30px !important;
}
.flex-next{
	position:absolute;
	display:block !important;
	top:140px !important;
	background-color:#f1f1f1 !important;
	background-image:url(../img/arr-right.png) !important;
	padding:0px !important;
	background-position:center center !important;
	width:30px !important;
	height:30px !important;
}
.flex-next:hover { background-image:url(../img/arr-right-hover.png) !important; background-color:#3a3a3a !important;}
.flex-prev:hover { background-image:url(../img/arr-left-hover.png) !important; background-color:#3a3a3a !important;}
.flex-caption h3 { margin-bottom:0px !important;}


.tp-leftarrow  {
	display:block !important;
	background-color:#3a3a3a !important;
	background-image:url(../img/arr-left-hover.png) !important;
	padding:0px !important;
	background-position:center center !important;
	width:36px !important;
	height:36px !important;
}
.tp-rightarrow {
	display:block !important;
	background-color:#3a3a3a !important;
	background-image:url(../img/arr-right-hover.png) !important;
	padding:0px !important;
	background-position:center center !important;
	width:36px !important;
	height:36px !important;
}

.tp-rightarrow:hover { background-image:url(../img/arr-right-hover.png) !important; background-color:#f1f1f1 !important;}
.tp-leftarrow:hover { background-image:url(../img/arr-left-hover.png) !important; background-color:#f1f1f1 !important;}
.tp-caption a {	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;}
.blog_item h3 { margin-bottom:0px !important;}
.page_head .sub { font-size:10px; text-transform:none; color:#888888; margin-top:-8px; font-weight:400;}
.mc_top_menu a:hover, .mc_top_menu a {-webkit-transition: background 0.3s ease-in-out;
		-moz-transition: background 0.3s ease-in-out;
		-ms-transition: background 0.3s ease-in-out;
		-o-transition: background 0.3s ease-in-out;
		transition: background 0.3s ease-in-out;}
.mc_top_menu nav { float:right !important;}
.bbb {float:right !important; margin-top:12px;}
.bottomlinetext { font-size:11px;}

/*-------------------------------------------------------------------------------------------------*/
	/*TWITTER FEED */
/*-------------------------------------------------------------------------------------------------*/

.tweet ul { padding:0px !important; margin:0px !important; line-height:16px !important; list-style:none !important;}
.tweet ul li { line-height:16px !important; padding-bottom:15px; display:block;}
.tweet_time { display:block; font-size:10px; margin-top:5px; font-style:italic;}
.tweet_even, .tweet_odd { margin-top:30px;}
.tweet_first { margin-top:0px !important;}
.tweet_time a { display:block; float:left; margin-top:4px !important; padding:3px; background:rgba(255,255,255,0.1); color:rgba(255,255,255,0.6) !important; text-decoration:none !important;}
.tweet_text { font-size:11px !important;}
.blog_sidebar .well, .portfolio_sidebar .well{ padding:0px;}
.blog_sidebar ul li, .portfolio_sidebar ul li, .page_sidebar ul li { padding-top:5px; padding-bottom:5px; background-position:center left}
.blog_sidebar ul li, .portfolio_sidebar ul li, .page_sidebar ul li { border-bottom:1px dashed #ededed !important;}



/*-------------------------------------------------------------------------------------------------*/
	/*Post Formats */
/*-------------------------------------------------------------------------------------------------*/



.postformat {
	width:40px;
	height:40px;
	background-color:#f5f5f5;
	float:left;
	margin-right:1px;
	background-position:center top;
	background-repeat:no-repeat;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-ms-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}
.postformat:hover {
	background-position:center bottom;
	-webkit-transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-ms-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
}
.format-standard .postformat{ background-image: url("../img/format-standard.png"); }
.format-image .postformat{ background-image: url("../img/format-image.png"); }
.format-quote .postformat{ background-image: url("../img/format-quote.png"); }
.format-aside .postformat{ background-image: url("../img/format-aside.png"); }
.format-link .postformat{ background-image: url("../img/format-link.png"); }
.format-status .postformat{ background-image: url("../img/format-status.png"); }
.format-gallery .postformat{ background-image: url("../img/format-gallery.png"); }
.format-audio .postformat{ background-image: url("../img/format-audio.png"); }
.format-video .postformat{ background-image: url("../img/format-video.png"); }




.single-format-standard .postformat{ background-image: url("../img/format-standard.png"); }
.single-format-image .postformat{ background-image: url("../img/format-image.png"); }
.single-format-quote .postformat{ background-image: url("../img/format-quote.png"); }
.single-format-aside .postformat{ background-image: url("../img/format-aside.png"); }
.single-format-link .postformat{ background-image: url("../img/format-link.png"); }
.single-format-status .postformat{ background-image: url("../img/format-status.png"); }
.single-format-gallery .postformat{ background-image: url("../img/format-gallery.png"); }
.single-format-audio .postformat{ background-image: url("../img/format-audio.png"); }
.single-format-video .postformat{ background-image: url("../img/format-video.png"); }


.the-author { padding:20px; color:#000; padding-left:40px; float:left; font-weight:bold; font-style:italic; background-image: url("../img/user.png"); background-position: left top; background-repeat:no-repeat; }
.my_quote { padding:20px; !important; background-color:#f6f6f6 !important;}
.my_aside a, .my_quote a { color:#3a3a3a;}

.my_status { padding:20px; background-color:#f6f6f6;}
.my_status .meta { margin-bottom:0px; padding-bottom:0px !important;}
.children { list-style:none; margin-left:30px;}
.my_quote h3 p { margin-bottom:0px !important;}
.quote_post .meta span { padding-top:20px !important;}




/*
=======================================================================================================================
	*
	*	Flickr Widget
	*
=======================================================================================================================
*/
ul#cbox { list-style-type: none; margin:0; }
ul#cbox li {
	list-style-type: none;
	float: left;
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
	border: none;
	padding:0;
	background:none !important;
 }
ul#cbox li:nth-child(3n+3) { margin-right: 0px; }
#wide-sidebar #cbox li:nth-child(3n+3) {margin-right : 10px; }
#wide-sidebar #cbox li:nth-child(4n+4) {margin-right : 0px; }

ul#cbox li a img {
/*	border: 1px solid #ececec;*/
	display: block;
	width: 58px;
	height: 58px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
 }
ul#cbox li a:hover img {
/*	border: 1px solid #999;*/
}

.blog_item_long .blog_item_description { padding:0px; background-color:transparent; border:none}
img.last { margin:0px;}
.admin_gal img { margin-bottom:15px !important;}
.wpb_toggle_content  { padding-right:20px !important;}
.wpb_posts_slider .date { background:#ffffff !important;}
.vc_text_separator { font-weight:bold;}
h4.testim { font-size:18px !important;}
.gc_error {text-align:center;}
.gc_error h3 {padding:60px 0px;}
.gc_error h3 .colored {font-size:107px; line-height:140px;}
.my_menu .alert-info { margin-bottom:10px; margin-top:10px !important;}
.my_menu .alert-info p { margin-bottom:0px;}
.my_portfolio {padding-top:30px !important;}
.notopmargin { margin-top:0px;}
.my_clear { clear:both !important;}
.nopaddding { padding:0px !important}
.blockquote4 {border:none !important; background:#f6f6f6; padding:20px; margin-bottom:40px;}
.blockquote4 h4 { margin-bottom:0px;}
.blog_author_item_description {margin-top:30px;}
.blog_author_item_description img {float:left; margin-right:20px; width:80px; height:80px}
.blog_author_item_description  h5 {margin-bottom:5px;font-weight:600 !important;}
.comments_div { margin-top:60px;}
.comments_div h4 {font-weight:600 !important; text-transform:uppercase !important; margin-bottom:-10px;}
.portfolio_item { margin-bottom:0px;}
.top_pad {padding-top:40px !important;}
.top_pad h4{margin-bottom:3px;}
.myls {padding-right:10px; margin-right:12px !important;}
.myrs {padding-left:10px; margin-left:12px !important;}
.mbi {margin-bottom:60px;}
.read_more a {margin-top:15px;}
.myaud {clear:both; margin-top:-6px;}
.nomt { margin-top:0px !important}
.my_quote h3 {font-style:italic; font-weight:300 !important; margin-bottom:0px !important;}
.my_status h5 {font-weight:400 !important; margin-bottom:0px !important;}
.my_status h5 .read_more {margin-bottom:-20px !important}
.blog_item_description {margin-bottom:20px;}
.share .share_title {float:left; margin-right:10px;}
.floatleft { float:left}
.mysaud .blog_head { margin-top:20px;}
.mystsing .meta {margin-bottom:0px !important}
.mystsing h5 {font-weight:400 !important; margin-bottom:0px !important;}
.nocomments {margin-bottom:0px;}
#respond {padding-top:40px;}
#respond h4 {font-weight:600 !important; margin-bottom:12px;}
.logged {margin-bottom:18px;}
.blog_item_comments_description .hidden-phone {float:left; margin-right:0px;}
.blog_item_comments_description h6 {margin-bottom:4px;}
.blog_item_comments_description hr {margin-top:0px; margin-bottom:10px;}
.ittal { font-style:italic;}
.blog_item_comments_description h6 a {color:inherit; padding-left:7px;}