/*.wide_cont { max-width:100% !important;  margin:0px !important;}
body {
  background: #fdfdfd url("http://html.orange-idea.com/commander/wp-content/themes/Commander/images/bg/2_wallpapper.jpg") fixed !important;
}*/
