﻿



.portfolio_post_item_description {padding-left:20px !important;}

.caption.commander_heading{	color:#04bfea;}
.caption.commander_small_heading{ color:#04bfea;}
.postformat:hover {background-color:#04bfea !important;}
.my_aside a:hover, .my_quote a:hover {color:#04bfea !important;}
a { color: #04bfea;}
a:hover {color:#000000;}
.tp-rightarrow:hover {background-color:#04bfea !important;}
.tp-leftarrow:hover {background-color:#04bfea !important;}

.wide_cont {background-color:#ffffff;}

.colored {color: #04bfea !important;}
.top_line {background-color: #3a3a3a !important; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png") !important;}
.top_line p {color: #FFFFFF !important;}
.top_line a {color: #FFFFFF !important;}
.top_line a:hover {color: #FFFFFF !important;}



.page_head {padding-top: 0px !important;
padding-bottom: 0px !important;
background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png") !important;
background-color: #ffffff !important;
}
.logo {margin-top: 20px !important;}
.mc_top_menu {
	margin-top: 0px;
}
.page_head .menu a {
    padding: 23px 22px;
    color: #3a3a3a;
    font-size:13px;
        text-transform:uppercase;
        font-weight:700;
}
.page_head .sub { font-size:10px; text-transform:none; color:#888888; margin-top:-6px; font-weight:400;}
.page_head .menu ul {background:#3a3a3a;}
.page_head .menu ul a {color:#ffffff !important;}

.page_head .menu li:hover {background:#04bfea}
.page_head .menu a:hover {color:#ffffff !important}
.page_head .menu li:hover .sub {color:#ffffff}
.page_head .menu ul a:hover {background-color:#04bfea; color:#fff !important}
.page_head .menu .current-menu-item, .page_head .menu .current_page_parent, .page_head .menu .current-menu-parent { background:#04bfea;}
.page_head .menu .current-menu-item a, .page_head .menu .current_page_parent a, .page_head .menu .current-menu-parent a {color:#ffffff;} 
.current-menu-item .sub, .current_page_parent .sub, .current-menu-parent .sub {color:#ffffff;}
.page_head .menu ul {margin-top:80px !important;}
.page_head .menu ul ul { margin-top:0px !important; top:0px !important;}

.welcome { background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); border-bottom: 1px solid #ededed; border-top: 1px solid #ededed; background-color: #ffffff }
.welcome {padding-bottom: 20px; padding-top: 20px}








.main_content_area .recent-post-widget a:hover {color:#04bfea !important}
.footer {
	color: #a8a8a8;
	background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png");
    background-color: #303030;
	margin-top:60px; 
	padding-top:40px; 
    padding-bottom: 10px;
    border-top: 1px solid #444444;
}
.footer p { color: #a8a8a8;}
.footer strong {color: #ffffff;}
#jstwitter .tweet {color: #a8a8a8;}
#jstwitter .tweet .time {color: #666666;}
#jstwitter .tweet a:hover {color: #ffffff;}
.small-meta { color:#666666;}
.small-meta a { color: #666666 !important;}
.footer a {color: #a8a8a8;}
.footer a:hover {color: #ffffff;}
.small-meta a:hover { color: #ffffff !important;}

.footer h5 { color:#ffffff; }
.footer hr{ border-top-color: #444444;  margin-top:6px; margin-bottom:15px;}
.bottom_line { background-color: #3a3a3a !important; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); }
.bottom_line { color: #FFFFFF;}
.bottom_line a {color: #FFFFFF;}
.bottom_line a:hover {color: #FFFFFF;}
.main_content_area {margin-top: 30px;}

.main_content_area .date { background: #f1f1f1; border-radius:0px;}
.main_content_area .date h6 { color:#3a3a3a;  text-shadow:0px 1px #ffffff;}

.blog_item .view-first .mask {background-color: rgba(0,0,0, 0.15)}
.blog_item .view a.info {background-color:#000000; background-image: url("http://www.orange-idea.com/assets/builder/zoom.png")}
.blog_item .view a.info:hover {background-color:#04bfea;}
.blog_item .view a.link {background-color:#000000; background-image: url("http://www.orange-idea.com/assets/builder/link.png")}
.blog_item .view a.link:hover {background-color:#04bfea;}

.blog_item_description { background-color:#f6f6f6; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); padding:20px; border:1px solid #f6f6f6; color:#666666}

.pride_pg a {padding: 4px 10px; border-radius:0px; background-color: #3a3a3a; color: #ffffff; text-shadow: #222222 0px 1px 0px; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); }
.pride_pg .current {padding: 4px 10px; border-radius:0px; background-color: #04bfea;  color:#ffffff;  background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png");}
.pride_pg a:hover  {
	background-color: #04bfea;
	color:#ffffff;
	text-shadow: none;
	background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png");
}

.portfolio_post_item_description { background-color:#ffffff; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); padding:0px; border:1px solid #ffffff; color:#747474}

.blog_author_item_description { background-color:#f9f9f9; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); padding:20px; border:1px solid #ededed; color:#747474}
.share {padding:7px; background-color:#ededed; background-image: url("#ededed"); color:#3d3d3d;}
.comments_div {border-left:1px solid #ededed; padding-left:20px;}
.blog_item_comments_description { background-color:#f9f9f9; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); padding:20px; border:1px solid #ededed; color:#747474}


.blog_sidebar {background-color:; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); border-radius:0px;}

.blog_sidebar .well hr { border-bottom-color:#ffffff;}
.blog_sidebar .well {border:1px solid #ffffff; background-color:#ffffff; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); border-radius:0px;}
.blog_sidebar h5 { color:#333333;}
.blog_sidebar a{ color:#777777;}
.blog_sidebar a:hover{ color:#04bfea;}
.blog_sidebar { color:#666666;}
.blog_sidebar ul li { border-bottom:1px dashed #ffffff}
.blog_sidebar .current-menu-item a {color:#04bfea;}


.filter_button {  font-size:11px; margin-right:3px; padding:4px 8px; background-color:#3a3a3a; border:1px solid #3a3a3a; border-radius:0px; color:#ffffff; text-shadow:1px 1px #111111;}
.filter_button:hover {background-color:#04bfea; color:#ffffff; border-color:#04bfea }
.filter_current { background-color:#04bfea; border-color:#04bfea; color:#ffffff;}

.portfolio_item .view-first .mask {background-color: rgba(0,0,0, 0.15)}
.portfolio_item .view a.info {background-color:#000000; background-image: url("http://www.orange-idea.com/assets/builder/zoom.png")}
.portfolio_item .view a.info:hover {background-color:#04bfea;}
.portfolio_item .view a.link {background-color:#000000; background-image: url("http://www.orange-idea.com/assets/builder/link.png")}
.portfolio_item .view a.link:hover {background-color:#04bfea;}


.nivo-prevNav, .nivo-nextNav {background-color:#000000; border:1px solid #000000 }
.nivo-prevNav:hover, .nivo-nextNav:hover {background-color:#04bfea; border-color:#ffffff;}


.descr {background-color:#f5f5f5; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); border:1px solid #f5f5f5;}
.descr a { color: #04bfea;}
.descr a:hover { color: #000000;}
.clo { font-size:11px; color:#747474 !important;}

.portfolio_sidebar .well hr { border-bottom-color:#ffffff;}
.portfolio_sidebar .well {border:1px solid #ffffff; background-color:#ffffff; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); border-radius:4px;}
.portfolio_sidebar h5 { color:#333333;}
.portfolio_sidebar a{ color:#777777;}
.portfolio_sidebar a:hover{ color:#04bfea;}
.portfolio_sidebar { color:#666666;}
.portfolio_sidebar ul li { border-bottom:1px dashed #ffffff}
.portfolio_sidebar .current-menu-item a {color:#04bfea;}

.blog_item .meta a, .blog_item .meta span, .blog_item .meta span a:after{ color:#3a3a3a;}
.blog_item .meta a:hover { color:#04bfea;}

.blog_post_item_description .meta a, .blog_post_item_description .meta a:after, .blog_post_item_description .meta span{ color:#b7b7b7;}
.blog_post_item_description .meta a:hover { color:#04bfea;}


.portfolio_post_item_description .meta a, .portfolio_post_item_description .meta a:after, .portfolio_post_item_description .meta span{ color:#3a3a3a;}
.portfolio_post_item_description .meta a:hover { color:#04bfea;}


#filters_sidebar a { border-bottom:1px dashed #ffffff;}
.filter_sidebar_current { color:#04bfea;}



.page_sidebar .well hr { border-bottom-color:#ffffff;}
.page_sidebar .well {border:1px solid #ffffff; background-color:#ffffff; background-image: url("https://www.warm-board.com/wp-content/themes/goodchoice/images/bg/1_px.png"); border-radius:4px;}
.page_sidebar h5 { color:#333333;}
.page_sidebar a{ color:#777777;}
.page_sidebar a:hover{ color:#04bfea;}
.page_sidebar { color:#666666;}
.page_sidebar ul li { border-bottom:1px dashed #ffffff}
.page_sidebar .main_content_area .menu li { border-bottom:1px dashed #ffffff; padding:0px !important;}
.page_sidebar .main_content_area .menu li a { color:#666666;} 
.page_sidebar .main_content_area .menu li a:hover { color:#04bfea;}
.page_sidebar .current-menu-item a {color:#04bfea;}

body {
	font-family: arial !important;
	color: #777777 !important;
	font-style: normal !important;
	font-size: 12px !important; 
}

h1 {
	font-family: Open Sans !important;
	color: #555555 !important;
	font-style: normal !important;
	font-size: 36px !important; 
	
}
h2{
	font-family: Open Sans;
	color: #555555;
	font-style: normal;
	font-size: 30px; 
	
}
h3 {
	font-family: Open Sans;
	color: #444444;

	font-style: normal;
	font-size: 24px; 
	
}
h4{
	font-family: Open Sans;
	color: #444444;
	font-style: normal;
	font-size: 18px; 
	
}
h5 {
	font-family: Open Sans;
	color: #444444;
	font-style: normal;
	font-size: 14px; 
	
}
h6 {
	font-family: Open Sans;
	color: #444444;
	font-style: normal;
	font-size: 12px; 
	
}




.blog_head h3 a { color:#3a3a3a;}
.blog_head h3 a:hover { color:#04bfea;}
















