/*
Theme Name: GOODCHOICE THEME
Theme URI: http://www.sizzlecreative.co.uk
Description: GOODCHOICE - Responsive Theme For WordPress
Author: Sizzle
Author URI: http://www.sizzlecreative.co.uk
Version: 1.0.1
License: 
License URI: 
*/
@import url('assets/css/bootstrap.css');
@import url('assets/css/bootstrap-responsive.css');
@import url('assets/css/docs.css');
@import url('assets/js/google-code-prettify/prettify.css');
@import url('assets/nivo/nivo-slider.css');
@import url('assets/css/prettyPhoto.css');
@import url('assets/css/panzer.css');
@import url('assets/css/options.css');

/* Additional styles added by Aiden for the UK map selection element */
.page_head .logo { margin-bottom: 20px; }
.wide_cont { min-width: 1024px; }
.footer, .bottom_line { min-width: 1044px; }


@media (max-width: 1200px) {
	.drop-map { clear: both; }
}
@media all and (max-width: 1px) { }