h4 { color: #777777 !important; }
fieldset { margin-bottom: 35px; }
.grey { background-color: #f7f7f7 !important; }

#homeImage {
  height: 200px; 
  background-color: #f8f8f8; 
  background-image: url('../images/homeImage.jpg'); 
  background-position: center; 
  margin-bottom: 15px;
}

#manifoldImage {
  position: absolute;
  margin: -49px 0 0 490px;
  padding: 10px;
  z-index: 99;
  width: 400px;
  padding: 0px;
  background: #FFFFFF;
  border: #f0f0f0 solid 1px;
  display: none;
}
#manifoldImage img {
  width: 390px;
  margin: 5px;
}
#manifoldImage div {
  padding: 0 5px !important;
  margin: 0 !important;
}
#manifoldImage:after {
  content: "";
  position: absolute;
  top: 190px;
  left: -12px;
  border-style: solid;
  border-width: 10px 12px 10px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
}

#manifoldImage:before {
  content: "";
  position: absolute;
  top: 190px;
  left: -12px;
  border-style: solid;
  border-width: 10px 12px 10px 0;
  border-color: transparent #f0f0f0;
  display: block;
  width: 0;
  z-index: 0;
}

.control-label { text-align: left; }
.registeredUser { padding: 20px 0; }
.registeredUser h5 { margin-top: 5px; }
.alert {
  position: relative;
  background-color: #f7f7f7;
  padding: 20px !important;
  border: 1px solid #f0f0f0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  margin-bottom: 20px !important;
  color: #777777 !important;
}
.alert-error {
  background-color: #fef6f6;
  border-color: #f8e6e6;
}

#mainMenu .span4, #mainMenu .span3 {
  margin-top: 5px;
  margin-bottom: 5px;
}
#mainMenu .span4 a, #mainMenu .span3 a { 
  display: block;
  width: 100%;
  background-color: #ee2424; 
  text-align: center; 
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  padding: 20px 0 15px;
  border: solid #fff;
  border-width: 0 1px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
#mainMenu .span4 a:hover, #mainMenu .span3 a:hover { 
  background-color: #797979;
}
#mainMenu .span4 a img, #mainMenu .span3 a img {
  margin-bottom: 15px;
}

body #agreeModal {
	width: 90%;
	left: 5%;
	margin-left: auto;
	margin-right: auto;
}

#agreeModal label.control-label {
	width: 130px;
}

#agreeModal div.controls {
	margin-left: 130px;
}

#agreeModal form div.span5 {
	width: 370px;
}

@media (min-width: 1170px) {
	body #agreeModal {
		width: 945px;
		left:50%;
		margin-left: -472px;
	}

  #agreeModal>.modal-footer .span7 {
    width: 670px;
  }
}

@media (min-width: 470px) {
  body #agreeModal .span5 {
    width: 470px;
  }

  body #agreeModal .span4 {
    width: 370px;
  }
}

#agreeModal textarea {
	height: 100px;
}

#agreeModal h4 {
	line-height: 25px;
	margin-bottom: 15px;
}

#agreeModal hr {
	margin: 15px 0;
}
.modal-footer span {
	margin-top: 5px;
	margin-right: 5px;
}

.btn-secondary {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #727272;
	background-image: -moz-linear-gradient(top,#8e8e8e,#727272);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#8e8e8e),to(#727272));
	background-image: -webkit-linear-gradient(top,#8e8e8e,#727272);
	background-image: -o-linear-gradient(top,#8e8e8e,#727272);
	background-image: linear-gradient(to bottom,#8e8e8e,#727272);
	background-repeat: repeat-x;
	border-color: #727272 #727272 #393939;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8e8e8e',endColorstr='#ff727272',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
  color: #ffffff;
  background-color: #727272;
  *background-color: #4f4f4f;
}

.container {
  margin: 0;
  width: 100%;
}

.container #homeImage {
  width: 100%;
  margin-left: 0;
}

#addManModal {
	width: 480px;
	margin-left: -240px;
}

#mainMenu #loginButton {
	color: #F00;
	background-color: #FFF;
	padding: 0;
	cursor: pointer;
}

.popover-content {
	color: #777;
	font-weight: normal;
}
.popover, .tooltip {
    z-index: 1060 !important;
}

.icon-question-sign {
	width: 22px;
	height: 22px;
	background-image: url(../images/questionmarkglyph.png);
	background-position: 0 0;
}
th>span {
	vertical-align: bottom;
}

#heatSourceForm h4 {
	margin-bottom: 0;
}

.heatsource-block {
	margin-top: 1em;
}

.heatsource-block > .heatsource-head {
	min-height: 64px;
	padding: 5px;
	padding-top: 15px;
	font-size: 1.0em;
	text-align: center;
}

.heatsource-block > .quantity {
	padding: 1em 0.1em;
	font-size: 0.9em;
	min-height: 5em;
}

.heatsource-block > .quantity > ul {
	margin: 0 25px;
	list-style-type: square;
}

.heatsource-block > .price {
	margin: 0;
	padding: 1em;
	text-align: center;
}

.heatsource-block > button {
	margin-top: 5px;
}

.int-subtotal {
	font-size: 1.6em;
	margin-top: 1em;
}

.heatSourceClear {
	margin: 0.5em 0;
}